*{
    margin: 0;
    padding: 0;
}

ul {
    /* list-style-type: circle; */
    /* list-style-image: url('./images/icone.png'); */
    list-style: square inside url('./images/icone.png');
    background-color: orange;
}

ul li {
    border: 1px solid black;
    padding: 20px;
}
ol {
    /* list-style-type: circle; */
    /* list-style-image: url('./images/icone.png'); */
    list-style: square inside url('./images/icone.png');
    background-color: paleturquoise;
}

ol li {
    border: 1px solid black;
    padding: 20px;
}