body {
    background-color: black;
}
.spinner {
    width: 200px;
    height: 200px;
    animation: Morph 2s infinite;
    margin: auto;
}

@keyframes Morph {
    0%,
    100% {
        border-radius:50%;
        transform: rotate(0deg);
        background-color: pink;
    }
    50% {
        border-radius:0%;
        transform: rotate(180deg);
        background-color: lightblue;
    }
}