.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
body section:nth-child(even) {
    background-color: aquamarine
}

body section:nth-child(odd) {
    background-color: bisque;
}

.reveal {
    position: relative;
    transform: translateY(25%);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

p::selection {
    background-color: black;
    color: white;
}