p:first-child {
    color: aquamarine;
}

p:last-child {
    color: blueviolet;
}

p:not(.padrao) {
    color: yellow;
}

/* li:nth-child(odd) {
    color: red;
} */
/* p:nth-child(even) {
    color: red;
} */

/* li:nth-child(2n) {
    color: red;
} */
/* li:nth-child(6) {
    color: red;
} */
/* li:nth-child(n+2):nth-child(-n+5) {
    color: red;
} */

li:nth-last-child(1){
    color: red;
}

p:only-child {
    color: seagreen;
}